{% extends 'base.html.twig' %}
{% block title %}Homepage{% endblock %}


{% block body %}
<div class="bg-white">  <!-- Aquí cambiamos el fondo a blanco -->
    <h1> HOLAAAAAAAAAAAAAA </h1>
    <div>
        Numero {{pruebadato}}

        {% if pruebadato > 1 %}
            <h1> ADIOOS </h1>
        {% endif %}
        
        <div class="bg-blue-500 text-black p-4 border-r-amber-50">
            Este texto tiene el fondo azul y texto blanco de Tailwind.
        </div>
        <table>
            <tr class="bg-blue-500 text-white">
                <th>Nombre</th>
                <td>{{persona.nombre}}</td>
            </tr>
            <tr>
                <th>Edad</th>
                <td>{{persona.edad}}</td>
            </tr>
            <tr>
                <th>Ciudad</th>
                <td>{{persona.ciudad | upper}}</td>
            </tr>
        </table>
    </div>
{% endblock %}
